#cabecera
{
    color: rgb(0, 0, 0);
    font-family: "Arial";
}

#h1{
    font-size: 30px;
}

#cabecera #logo
{
    width: 300px;
    vertical-align: middle;
}

#formulario{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 2px solid #000000;
    margin: 0 auto;
}