/*Barra de navegación*/
.navbar{
    padding: 0.3rem;
    background-color: #a6bdd4;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.cabecera
{
    color: rgb(0, 0, 0);
    font-family: "Arial";
}

.h1{
    font-size: 30px;
}

.cabecera #logo
{
    width: 300px;
    vertical-align: middle;
}

#formulario{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 2px solid #000000;
    margin: 0 auto;
}

#footer{
    margin-bottom: 0vmax;
}

/*Adaptable responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}