/*Barra de navegación*/
.navbar{
    padding: 0.3rem;
    background-color: #a6bdd4;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/*Estilos generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Seccion Hero*/
.cabecera
{
    padding: 3rem;
    color: rgb(0, 0, 0);
    font-family: "Arial";
    min-height: 450px;
}


#formulario{
    padding: 2rem;
    border: 2px solid #000000;
    margin: 0 auto;
}

/*Adaptable responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}