<!DOCTYPE html>
<html lang="es">
<head>
    <!--Metadatos-->
    <meta charset="UTF-8">
    <meta name="author" content="Jeisson Velosa">
    <meta name="description" content="Registro de votaciones COOPUN">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/estilos.css">
    <!--Titulo-->
    <title>Lista de delegados</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../sources/favicon_cpun.png"/>
</head>
<body>
    <main>
        <section>
            <div>
                <input href="/create" type="submit" class="btn btn-success" id="btnconfirmar" value="Confirmar" />
                    <table>

                    </table>
            </div>
        </section>
    </main>

    <!--JavaScript-->
    <!-- <script src="../js/asamblea.js"></script> -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>