<!DOCTYPE html>
<html lang="es">
    <head>
    <!--Metadatos-->
    <meta charset="UTF-8">
    <meta name="author" content="Jeisson Velosa">
    <meta name="description" content="Registro de votaciones COOPUN">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/estilos.css">
    <!--Titulo-->
    <title>Sistema de votación</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../sources/favicon_cpun.png"/>
    </head>
    <body>
    <header>
        <!--Barra de navegación-->
        <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-body-tertiary">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand">
                <figure>
                    <img src="../sources/logo_cpun.png" width="250" alt="Logo de la página web">
                </figure>
                </a>
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.ejs">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./consulta.ejs">Consulta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Moderador</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>

    <main>
        <!--Seccion Hero-->
        <section>
        <div id="cabecera" class="d-flex flex-column justify-content-center align-items-center">
            <div class="row col-lg-12 text-center">
            <h1>Registro Asamblea <br> Cooperativa de Profesores de la Universidad Nacional </h1>
            </div>
        </div>
        </section>

            <!--Formulario-->
        <section>
        <form id="main-form">
            <div class="mb-4">
            <label for="cedula" class="form-label">
                <input type="number" class="form-control" id="cedula" aria-describedby="cedula" placeholder="Documento de identidad" name="cedula" required>
            </label>
            </div>
            <div class="mb-4">
            <label for="credencial" class="form-label">
                <input type="password" class="form-control" id="credencial" placeholder="Número de Credencial" name="credencial" required>
            </label>
            </div>
            <div class="row">
            <div id="opcion" class="col-xs-12 col-sm-6">
                <label for="movil" class="form-label">
                <span>Movil</span>
                <input type="radio" name="dispositivo" id="movil">
                </label>
            </div>
            <div id="opcion" class="col-xs-12 col-sm-6">
                <label for="pc" class="form-label">
                <span>PC</span>
                <input type="radio" name="dispositivo" id="pc">
                </label>
            </div>
            </div>
            <div class="btnconfirmar">
            <input type="submit" class="btn btn-success" id="btnconfirmar" value="Confirmar" />
            </div>
        </form>
        </section>
    </main>

    <!--JavaScript-->
    <script src="../js/asamblea.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--Pie de página-->
    <footer>
        <div class="container-fluid text-center">
        <p>CooprofesoresUN  <br><b>all right reserved 2023</b> </p>
        </div>
    </footer>
    </body>
</html>